name: flutter3_res
description: "flutter3 res package."
version: 0.0.1
homepage: https://github.com/angcyo/Flutter3Core
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: ^3.10.0

# https://dart.dev/tools/pub/workspaces/
# Support for pub workspaces was introduced in Dart 3.6.0.
resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  # https://pub.dev/packages/intl
  # https://localizely.com/flutter-arb/
  # https://github.com/localizely/flutter-intl-plugin-sample-app
  # https://github.com/cfug/flutter.cn/tree/main/examples/internationalization/gen_l10n_example
  # https://pub.dev/packages/clock
  # https://pub.dev/packages/meta
  # https://pub.dev/packages/path
  intl: any
  clock: any

  # https://pub.dev/packages/bidi
  bidi: ^2.0.13

  flutter3_basics:
    path: ../flutter3_basics

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: any
  # https://pub.dev/packages/intl_utils
  # https://pub.dev/packages/intl
  # https://pub.dev/packages/analyzer
  # https://pub.dev/packages/archive
  # https://pub.dev/packages/args
  # https://pub.dev/packages/dart_style
  # https://pub.dev/packages/http
  # https://pub.dev/packages/intl
  # https://pub.dev/packages/path
  # https://pub.dev/packages/petitparser
  # https://pub.dev/packages/yaml
  intl_utils: ^2.8.13
  # https://pub.dev/packages/yaml
  # https://pub.dev/packages/collection
  # https://pub.dev/packages/source_span
  # https://pub.dev/packages/string_scanner
  yaml: ^3.1.3

# https://pub.dev/packages/intl
# https://pub.dev/packages/intl_utils
# https://localizely.com/flutter-arb/
# flutter pub run intl_utils:generate
# https://simplelocalize.io/data/locales/
# https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes
flutter_intl:
  enabled: true
  class_name: LibRes
  main_locale: zh # 没有在此arb文件中的key, 在其他语言中, 都不会有
  arb_dir: lib/l10n
  output_dir: lib/l10n/generated
  use_deferred_loading: false

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

# To add assets to your package, add an assets section, like this:
# assets:
#   - images/a_dot_burr.jpeg
#   - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware

# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages

